<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.sofproject.fw.ui.editor.FwBinEditor"
            default="false"
            extensions="bin, ri"
            id="org.sofproject.fw.ui.editor"
            name="Fw Binary Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.sofproject.fw.ui.editor.FwBinEditor"
            class="org.sofproject.fw.ui.editor.FwBinEditorToOutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>
</plugin>
